<div class="header">
<mat-toolbar color="primary">
    <span>{{ titulo | uppercase }}</span>
    <span class="spacer"></span>
    <button mat-stroked-button	 color="basic" >
      ESTACIÓN
    </button>
    <span class="p2"></span>
    <button mat-stroked-button	 color="basic" >
     QSL CARD
    </button>
    <span class="p2"></span>
    <button mat-stroked-button	 color="basic" >
      CONTACTOS
     </button>
     <span class="p2"></span>
     <button mat-stroked-button	 color="basic" >
      SDR
     </button>
    <span class="spacer"></span>
    <button mat-icon-button  aria-label="Share icon" onclick="share">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

</div>